<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>e-settlement系统</title>
    <link rel="stylesheet" href="stylesheets/jquery-ui.min.css" />
    <link rel="stylesheet" href="stylesheets/blue.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/scroll.css" />
    <link rel="stylesheet" href="stylesheets/menu.css" />
    <script type="text/javascript" src="framework/jquery/jquery1.11.0/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="framework/jquery/jquery1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="framework/jquery/jquery1.11.0/icheck.min.js"></script>
    <script type="text/javascript" src="framework/bootstrap/bootstrap2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/async.js"></script>
    <script type="text/javascript" src="javascripts/layout.js"></script>
    <script type="text/javascript" src="javascripts/common.js"></script>
    <script type="text/javascript" src="framework/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="framework/backbone/backbone1.3.3/backbone.js"></script>

    <script src="js/member/model/member.js"></script>
    <script src="js/member/views/member.js"></script>
    <script src="js/member/views/memberItem.js"></script>
    <script src="js/member/views/page.js"></script>
    <script src="js/frame/util.js"></script>
    <script src="js/frame/views/frame.js"></script>

    <link rel="stylesheet" href="stylesheets/bootstrap-datetimepicker.min.css" />
    <script src="framework/bootstrap/bootstrap2/js/bootstrap-datetimepicker.min.js"></script>
    <script src="framework/bootstrap/bootstrap2/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="javascripts/moment.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</body>

</html>