<td><input type="checkbox" /></td>
<td>{{mnickname}}</td>
<td>{{mrename}}</td>
<td>{{mage}}</td>
<td>{{mgrade}}</td>
<td>{{mregdate}}</td>
<td>
    <button class="btn btn-sm btn-primary">查看</button>
    <button class="btn btn-sm btn-primary">修改</button>
    <button class="btn btn-sm btn-danger deleteMember">删除</button>
</td>